<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="~{/components/header}"></div>

    <title>Main</title>
</head>
<body class="bg-light">
<div class="container">
    <div class="row align-items-start">

        <div class="col-6 bg-dark m-auto mt-3 p-3 border border-5 border-secondary rounded-3">
            <h2 class="text-center pt-3 text-success">Weather</h2>

            <div th:replace="~{components/header_for_form :: section_login_logout}"></div>

            <div th:replace="~{/components/form_search :: section_form_search}"></div>


            <!-- section choice of cities -->
            <div th:unless="${#lists.isEmpty(locationDtos)}" class="m-3">
                <form th:action="@{/location}" th:method="post">

                    <div class="col-auto">
                        <label for="sss" class="col-form-label text-success">Choice city:</label>
                    </div>

                    <select id="sss" name="indexLocation" class="form-select mb-1">

                        <div th:each="loc, iter : ${locationDtos}">

                            <option th:value="${iter.index}">
                                <div th:text="${loc.name}">name</div>
                                <div th:text="${loc.country}">country</div>
                                <div th:unless="${#strings.isEmpty(loc.state)}">
                                    <div th:text="${loc.state}">state</div>
                                </div>
                            </option>

                        </div>

                    </select>

                    <div class="row justify-content-center mt-2">
                        <button type="submit" class="col-6 btn btn-success">Add</button>
                    </div>

                </form>
            </div>
            <div class="col-auto mt-2">
                <form th:method="GET" th:action="@{/main}">
                    <button type="submit" class="btn btn-primary">return to main page</button>
                </form>
            </div>

        </div>

    </div>
</div>

<div th:replace="~{/components/footer}"></div>
</body>
</html>